@use '../../styles/_definitions.scss';

.log-item {
  padding: 20px;
  display: flex;
  border-bottom: 1px solid rgba(100, 100, 100, 0.4);
  .bg-image {
    background-color: #46d6c9;
    min-width: 25px;
    height: 25px;
  }

  .log-contents-container {
    padding-left: 20px;
    line-height: 22px;

    .author,
    .content {
      color: blue;
    }

    .place {
      font-weight: 600;
    }

    .updatedAt {
      margin-top: 5px;
      color: rgba(100, 100, 100, 0.5);
    }
  }
}
