@use '../../styles/_definitions.scss';

.item-wrapper {
  position: relative;
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 70px;
  padding: 15px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.1);
  cursor: pointer;
  list-style: none;
  // transition: all 1000ms ease;

  .item-top {
    display: flex;
    justify-content: space-between;

    .item-contents {
      width: 100%;
      font-size: 14px;
      margin-left: 15px;
    }

    .f7-icons {
      font-size: 14px;
      margin: 0 2px;
    }

    .todo-close {
      cursor: pointer;
      color: rgba(226, 110, 110, 0.1);
      transition: color 300ms ease;

      &:hover {
        color: rgba(226, 110, 110, 1);
      }
    }
  }

  .item-bottom {
    font-size: 12px;
    position: absolute;
    right: 15px;
    bottom: 5px;
    font-weight: 300;
    color: lightgray;

    .todo-author {
      color: black;
    }
  }
}

.temp {
  opacity: 0.5;
}

.item-wrapper + .item-wrapper {
  margin-top: 15px;
}

.item-wrapper.overlapped {
  opacity: 0.5;
  // transform: translateY(-80);
}

.column-items-container.overlapped {
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.3);
}

.item-top {
  .todo-update {
    color: rgba(100, 100, 100, 0.1);
  }

  &:hover {
    .item-contents {
      color: rgba(100, 100, 100, 0.5);
      // padding: 2px;
    }

    .todo-update {
      color: rgba(100, 100, 100, 1);
    }
  }
}
