@use '../../styles/_definitions.scss';

.add-button-wrapper {
  // background-color: rgba(100, 100, 100, 0.2);
  border-radius: 7px;
  border: 1px solid rgba(100, 100, 100, 0.3);
  margin-left: 15px;
  min-width: 280px;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  // &:hover {
  //   background-color: rgba(100, 100, 100, 0.3);
  // }

  i {
    color: #2ac1bc;
    font-size: 40px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgba(100, 100, 100, 0.2);
    cursor: pointer;
    transition: transform 300ms ease;

    &:hover {
      transform: scale(1.05);
      background-color: rgba(255, 255, 255, 0.2);
      border: 1px solid rgba(100, 100, 100, 0.3);

    }
  }
}

