@use '../../styles/_definitions.scss';

.container {
  position: relative;
}
.main-container {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: start;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 20px;
}

.trash-can {
  position: absolute;
  right: 40px;
  bottom:40px;
  color: rgba(226, 110, 110, 0.8);
  opacity: 0;
  border-radius: 50%;

  .todo-close {
    font-size: 50px;
    transition: all 300ms ease;
    border: 1px solid  rgba(226, 110, 110, 0.0);


  }
}

.trash-can.activated {
  // &:hover{
    transform: scale(1.4);
    border: 1px solid  rgba(226, 110, 110, 0.8);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    // }
  }

  .trash-can.activated.overlapped {
    background-color: rgba(226, 110, 110, 0.2);;

}
