@use '../../styles/_definitions.scss';

.main-container {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: start;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 15px;
}

.float-item {
  position: fixed;
  padding: 0;
  margin: 0;
  transition: transform 200ms ease, box-shadow 200ms ease;
  transform: scale(1.03);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
  z-index: 999;
}
