@use '../../styles/_definitions.scss';

.gray-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(100, 100, 100, 0.5);
  z-index: 5;

  .modal-wrapper {
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 8px 8px 8px 8px rgba(100, 100, 100, 0.2);

    .user-list-header {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      margin-left: 45px;

      .total-count {
        color :darkgray;
        font-variant-numeric: tabular-nums;
        font: {
          size: 18px;
          weight: 800;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 25px;
        margin-right: 10px;
      }

      .title {
        color :#2ac1bc;
        font: {
          size: 22px;
          weight: 600;
        }
      }
    }

    .user-list {
      margin-top: 20px;
      height: 20vh;
      overflow-y: scroll;
      margin-bottom: 15px;
      width: 500px;

      .user-item + .user-item {
        margin-top: 10px;
      }

      .user-item {
        background-color: rgba(100, 100, 100, 0.15);
        padding: 10px;
        border-radius: 7px;
        display: flex;
        align-items: center;
        width: 80%;
        margin: 0 50px;

        cursor: pointer;

        &:hover {
          background-color: rgba(100, 100, 100, 0.2);

          .name {
            color: black
          }

          .user-icon {
            color: black
          }
        }

        .user-icon {
          display: inline-block;
          margin-right: 10px;
          color: darkgray;
          transition: color 300ms ease;
        }

        .name {
          font-weight: 400;
          font-size: 20px;
          color: darkgray;
          transition: color 300ms ease;

        }
      }
    }

    .user-input {
      margin-bottom: 15px;
      display: block;
      width: 80%;
      margin: 0 50px 15px 50px;
      padding: 10px 15px;
      font-size: 20px;
      border-radius: 7px;
      border: 1px solid rgba(100, 100, 100, 0.25);

      &:hover {
        border: 1px solid rgba(100, 100, 100, 0.45);
      }
      &:focus {
        border: 1px solid rgba(100, 100, 100, 1);
      }
    }

    .submit {
      width: 100%;
      cursor: pointer;
      min-height: 50px;
      border: none;
      font: {
        size: 30px;
        weight: 400;
      }

      &:hover {
        background-color: rgba(100, 100, 100, 0.2);
      }
    }
  }
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
