@use '../../styles/_definitions.scss';

.column-container {
  min-width: 340px;
  display: inline-block;
  height: 100%;

  .column-wrapper {
    background-color: rgba(100, 100, 100, 0.2);
    height: 100%;
    border-radius: 7px;
    padding: 15px;
    border: 1px solid rgba(100, 100, 100, 0.3);

    .column-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 15px;
      height: 40px;

      .header-left {
        display: flex;
        width: 100%;

        .todo-count {
          background-color: rgba(100, 100, 100, 0.3);
          border-radius: 50%;
          font: {
            size: 13px;
            weight: 600;
          }
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 25px;
          margin-right: 10px;
        }
        .todo-title {
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: 15px;
          width: 100%;
          cursor: pointer;
        }
      }

      .header-right {
        min-width: 25px;
        display: flex;
        align-items: center;

        .todo-add-button,
        .todo-more-button {
          font-size: 15px;
          cursor: pointer;
        }

        .f7-icons + .f7-icons {
          margin-left: 5px;
        }
      }
    }
    ul {
      overflow-y: scroll;
      height: calc(100% - 40px);
    }
  }
}

.column-container + .column-container {
  margin-left: 15px;
}
