@use '../../styles/_definitions.scss';

.sidebar-container {
  position: absolute;
  top: 0;
  right: -30vw;
  width: 30vw;
  z-index: 5;
  background-color: white;
  border: {
    left: 1px solid rgba(100, 100, 100, 0.4);
  }

  .icon-container {
    background-color: rgba(100, 100, 100, 0.03);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: {
      left: 20px;
      right: 10px;
    }
    height: 50px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.4);

    .left-icon {
      display: flex;

      .f7-icon {
        font-size: 25px;
      }

      .icon-title {
        font: {
          size: 17px;
          weight: 600;
        }
        padding: {
          top: 6px;
          left: 3px;
        }
      }
    }
  }
}

.visible {
  transition: all 0.5s ease;
  right: 0;
}
