@use '../../styles/_definitions.scss';

.sidebar-container {
  position: fixed;
  top: 0;
  width: 0;
  // width: 350px;
  right: 0;
  display: none;
  height: 100%;
  z-index: 5;

  backdrop-filter: blur(2px);

  transition: width 500ms ease;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;

  border: {
    left: 1px solid rgba(100, 100, 100, 0.4);
  }

  .sidebar-header {
    position: sticky;
    max-height: 80px;
  }

  .icon-container {
    // position: sticky;
    background-color: rgba(100, 100, 100, 0.03);
    // display: flex;
    // justify-content: ;
    align-items: center;
    padding: {
      left: 20px;
      right: 10px;
    }
    height: 80px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.4);

    .left-icon {
      // display: flex;
      // justify-content: center;
      // align-items: center;

      top: 30px;
      position: absolute;
      .f7-icon {
        font-size: 25px;
      }
    }

    .side-close {
      cursor: pointer;
      position: absolute;
      right: 45px;
      top: 30px;
    }
  }
}

.sidebar-container.visible {
  display: block;
  width: 350px;
}

.logs-container {
  height: calc(100vh - 80px);
  overflow-y: scroll;
}
