@use '../../styles/definitions';

.header-container {
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 30px 3rem;
  color: white;

  .title-container {
    font: {
      size: 30px;
      weight: 600;
    }

    .title-content {
      cursor: pointer;
    }
  }

  .menu-container {
    background-color: black;
    border: none;
    outline: none;
    color: white;
    font: {
      size: 30px;
      weight: 600;
    }
  }
}
