@use '../../styles/_definitions.scss';

.add-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  // transition: all 5s ease;
  .buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 5px;
    margin: 5px;

    button {
      cursor: pointer;
    }
  }
}

.add-input-container + .close {
  // height: 0px;
  display: none;
}
