@use '../../styles/_definitions.scss';

.add-input-container {
  .input-input-container {
  }
  .buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 5px;
  }
}

.add-input-container + .close {
  // height: 0px;
  display: none;
}

// .buttons-container {
// }
