@use '../../styles/_definitions.scss';

.btn {
  padding: 5px 16px;
  min-width: 100px;
  margin: 1px 5px 5px 5px;

  color: black;
  background-color: #fafbfc;

  border-radius: 6px;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.1),
    inset 0 1px 0 hsla(0, 0%, 100%, 0.03);

  transition: all 400ms ease;

  pointer-events: none;
  &:hover {
    background-color: #f3f4f6;
  }
}

.btn.submit-able {
  pointer-events: all;
}

.btn.positive {
  opacity: 0.5;
}

.btn.positive.submit-able {
  opacity: 1;
}

.negative {
  border-color: red;
}

.positive {
  color: white;
  background-color: #2ac1bc;

  &:hover {
    background-color:  #6bcac7;
  }

  &:disabled {
    opacity: 0.5;
  }
}

